<h1>Event List:</h1><br>
<% if @events.empty? %>
  There are no events yet!
<% else %>
  <h5>Past events:</h5>
  <ol class="list-group list-group-numbered">
    <% @events.past.each do |event| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to event.name.capitalize, event_path(event) %></div>
          <%= event.description.capitalize %>
        </div>
      </li>
    <% end %><br>
  </ol>
  <h5>Upcoming events:</h5>
  <ol class="list-group list-group-numbered">
    <% @events.upcoming.each do |event| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to event.name.capitalize, event_path(event) %></div>
          <%= event.description.capitalize %>
        </div>
      </li>
    <% end %>
  </ol>
<% end %><br>
<% if user_signed_in? %>
  <%= button_to 'Create Event', new_event_path, method: :get %>
<% end %>