<div class="container-fluid p-5 bg-light">
  <%= @event.name %><br>
  <%= @event.description %><br>
  <%= @event.location %><br>
  <%= @event.date.strftime('%d/%m/%y') %><br>
  <%= @event.time.strftime('%H:%m') %><br>
  <%= button_to 'Attend event', attend_event_event_path(@event), method: :get %>

  <% if @event.creator != current_user %>
    attend event
  <% end %>

  <% @event.attendees.each do |attendee| %>
    <%= attendee.name %>
  <% end %>
</div>